.List {
    display: flex;
    flex-direction: column;
}

p {
    white-space: pre-line;
    line-height: 25px;
}

.Message {
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    text-align: left;
    padding: 5px 20px;
    margin: 10px 0;
    margin-bottom: 12px;
    font-size: 18px;
    max-width: 500px;
    &.Sent {
        color: white;
        background: #0b93f6;
        align-self: flex-end;
    }
    &.Received {
        background: #e5e5ea;
        color: black;
        align-self: flex-start;
    }
}

.Username {
    font-weight: 600;
    text-align: left;
}

.Timestamp {
    font-size: 12px;
    line-height: 0;
}
