.Login {
    margin-top: 100px;
}

.formContainer {
    width: 200px;
    height: 65px;
    position: relative;
    font-weight: 700;
    box-sizing: border-box;
    box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    border-radius: 6.25em;
    background-color: #ffffff;
    transition: 300ms;
    &.WithInput {
        width: 400px;
        transition: 300ms;
    }
    .Label {
        border-radius: 6.25em;
        background-color: #ffffff;
        width: 200px;
        height: 65px;
        outline: 0;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
    }
    .Form {
        padding: 0.625em;
        box-sizing: border-box;
        box-shadow: 0 0.125em 0.3125em rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        width: 100%;
        border-radius: 6.25em;
        background-color: #ffffff;
    }
    .Input {
        font-weight: 700;
        font-size: 18px;
        border: 0;
        outline: 0;
        border-radius: 5em;
        box-sizing: border-box;
        height: 100%;
        width: 100%;
        padding: 0 0.714em;
        &::placeholder {
            color: #31353e;
        }
    }
    .Button {
        background-color: #282c34;
        color: white;
        height: 100%;
        width: auto;
        font-size: 18px;
        padding: 0;
        height: 100%;
        width: 160px;
        border: 0;
        font-weight: 700;
        outline: 0;
        border-radius: 5em;
        box-sizing: border-box;
        cursor: pointer;
    }
}

.InputEntering {
    opacity: 0;
    transform: scale(0.9);
}
.InputEntered {
    opacity: 1;
    transform: translateX(0);
    transition: opacity 300ms, transform 300ms;
}
.InputClosing {
    display: none !important;
}
